* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

html {
	height:100%;
	overflow-y: hidden;
}

body {
    -webkit-touch-callout: none;                
    -webkit-text-size-adjust: none;           
    -webkit-user-select: none;                  
  
  background: #91a6b2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkxYTZiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2VhZWZmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2VhZWZmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MWE2YjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #91a6b2 0%, #eaeff1 24%, #eaeff1 77%, #91a6b2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91a6b2), color-stop(24%,#eaeff1), color-stop(77%,#eaeff1), color-stop(100%,#91a6b2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #91a6b2 0%,#eaeff1 24%,#eaeff1 77%,#91a6b2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #91a6b2 0%,#eaeff1 24%,#eaeff1 77%,#91a6b2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #91a6b2 0%,#eaeff1 24%,#eaeff1 77%,#91a6b2 100%); /* IE10+ */
background: linear-gradient(to bottom, #91a6b2 0%,#eaeff1 24%,#eaeff1 77%,#91a6b2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91a6b2', endColorstr='#91a6b2',GradientType=0 ); /* IE6-8 */

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	height:100%;
	background-attachment: fixed;
	overflow-y: scroll;
}


a:link {text-decoration:none; border:none;}      
a:visited {text-decoration:none; border:none;}  
a:hover {text-decoration:none; border:none;} 
a:active {text-decoration:none; border:none;}

ul, li {
list-style-type: none;	
padding:none !important;
-webkit-padding-start: 0px;
}


/* Portrait layout (default) */
.app {
    left:50%;
    top:50%;
    text-align:center;
    margin-bottom:20px
	
}






/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
       }
}

@media screen and (min-width: 240px) and (-webkit-device-pixel-ratio: 1) { 

	#bg_mesh {
		background-image:url(../res/mpi/bg_pattern.png);
		background-repeat:repeat;
		margin-bottom:0px;
		height:100% !important
		
	}
	
	#header{
		width:320px;
		height:153px;
		margin:auto;
		left:50%;
		background-image:url(../res/mpi/menu_logo.png);
		background-repeat:no-repeat;
		
	}
	
	#btn1 {
		width:226px;
		height:53px;
		margin:auto;
		background-image:url(../res/mpi/btn_1.png)
	}
	
	#btn2 {
		width:226px;
		height:53px;
		margin:auto;
		background-image:url(../res/mpi/btn_2.png)
	}
	
	#btn3 {
		width:226px;
		height:53px;
		margin:auto;
		background-image:url(../res/mpi/btn_3.png)
	}
	
	#btn4 {
		width:226px;
		height:53px;
		margin:auto;
		background-image:url(../res/mpi/btn_4.png)
	}
	
	#btn5 {
		width:226px;
		height:53px;
		margin:auto;
		background-image:url(../res/mpi/btn_5.png)
	}
	
	#btnS {
		width:227px;
		height:18px;
		margin:auto;
		background-image:url(../res/mpi/btn_s.png)
	}
	
	#first {
			width:100%;
			min-width:320px;
			height:77px;
			left:0;
			margin-top:0px;
			position:fixed;
			/* z-index:99 !important;-*/
			
	}
	

	#one {
			width:100%;
			height:45px;
			background-image:url(../res/mpi/top_bar_bg.jpg);
		}
	
	
		.f_date {
			width:100%;
			height:31px;
			background-image:url(../res/mpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			margin-top:-2px;
			text-align:left;
			
		}
	
	
	
	
	
				#back {
				width:50px;
				height:31px;
				background-image:url(../res/mpi/top_back.png);
				float:left;
				margin-left: 8px ;
				margin-top:8px
				
			}
			
		#top_title_wrap {
			padding-top:18px;
		}
		
		#nfic_title {
			width:161px;
			height:12px;
			background-image:url(../res/mpi/top_title.png);
			margin:auto
		}
		
		
			
			#top_logo {
				width:50px;
				height:27px;
				background-image: url(../res/mpi/top_logo.png);
				float:right;
				margin-right:8px;
				margin-top:-19px
			}
			
	.app_main {
		left:50%;
		top:50%;
		text-align:center;
		margin-top:0px
}
	
	#two {
			width:100%;
			height:100%;
			margin-top:0px ;
			margin-bottom:55px
		}
		
		#two_header {
		height:43px;
		min-width:320px	
		}
		
	
	
		.p_date {
			width:100%;
			height:31px;
			background-image:url(../res/mpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			
			
			
		}
		
		.p_container {
		
			
			
			width:300px;
			height:100%;
			padding-top:40px;
			margin:auto;
			padding-bottom:10px 
			
			
		}
		
			.p_wrap {
				height:48px;
			    width:100%;
				margin:auto;
				
				
				
		}
		
			.p_first {
				width:86px;
				height:100%;
				float:left;
				margin-left:10px;
				padding-top:6px;
				margin-bottom:-4px;
				
			}
			
				.p_time {
					width:;
					height:;
					
				}
				
				.p_add {
					width:61px;
					height:15px;
					background-image:url(../res/mpi/program_add.png)
					
				}
			
			.p_hr {
				width:1px;
				height:40px;
				background-image:url(../res/mpi/program_hr.jpg);
				float:left;
				margin-top:3px
				
			}
			
			.p_second {
				width:200px;
				height:45px ;
				float:left;
				margin-left:20px;
				padding-top:6px;
				margin-bottom:-4px;
				
			}
			
				.p_title {
					width:;
					height:;
					margin-top:2px
					
				}
				
				.p_desc {
					width:;
					height:;
					
				}
	
	.f_container {
			width:320px;
			height:601px;
			margin:auto;
			left:50%;
			background-image:url(../res/mpi/faculty_1.png);
			background-repeat:no-repeat;
			margin-top:0px;
			padding-bottom:30px
		
			
		}
        
        .f_container_2 {
			width:320px;
			height:1163px;
			margin:auto;
			left:50%;
			background-image:url(../res/mpi/faculty_2.png);
			background-repeat:no-repeat;
			margin-top:0px;
			padding-bottom:40px
			
			
		}
        
        .f_container_3 {
			width:320px;
			height:640px;
			margin:auto;
			left:50%;
			background-image:url(../res/mpi/faculty_3.png);
			background-repeat:no-repeat;
			margin-top:0px;
			padding-bottom:0px
			
			
		}
		
		#three {
		width:100%;
	    height:44px ;
		margin:auto;
		position:fixed;
		bottom:0
	}

		
		#f_top_line {
			width:100%;
			height:4px;
			background-image:url(../res/mpi/footer_hr.jpg);
			background-repeat:repeat-x
		}
		
		#footer_wrap {
			width:100%;
			height:40px ;
			margin:auto;
			background-image:url(../res/hdpi/f_menu_bg.jpg) ;
			background-repeat:repeat;
			text-align:center;
			color:white;
			font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
			font-size: 12px;
			text-transform:uppercase;
			padding-top:0px;
			text-shadow: 0 0 0em #5ab6bf;
			background-image:url(../res/hdpi/f_menu_bg.jpg) ;
			background-repeat:repeat-x;
			padding-bottom:5px
		
		}
		
		#f_menu {
			width:320px;
			height:40px;
			margin:auto;
			
		}
			.f_btn {
				width:106px;
				height:40px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 12px;
				text-transform:uppercase;
				padding-top:5px;
				text-shadow: 0 0 0em #5ab6bf;
				background-image:url(../res/hdpi/f_menu_bg.jpg) ;
				background-repeat:repeat-x;
				
			}
			
			.f_btn_active {
				width:106px;
				height:40px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 12px;
				text-transform:uppercase;
				padding-top:5px;
				background-image:url(../res/mpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}
			
				.p_btn {			
				width:158px;
				height:40px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 15px;
				text-transform:uppercase;
				padding-top:12px;
				text-shadow: 0 0 0em #5ab6bf;
				background-image:url(../res/hdpi/f_menu_bg.jpg) ;
				background-repeat:repeat-x;
				
			}
			
			.p_btn_active {
				width:158px;
				height:40px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 15px;
				text-transform:uppercase;
				padding-top:12px;
				background-image:url(../res/xdpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}	
			
			.footer_border {
				width:1px;
				height:40px;
				background-image:url(../res/mpi/f_menu_border.jpg);
				background-repeat:repeat-y;
				float:left	
			}
		
		
		
			

	.v_container {
			width:320px;
			height:790px;
			margin:auto;
			margin-top:5px;
			padding-bottom:40px
			
		}
		
		
				
		#one_venue {
			width:100%;
			height:45px;
			background-image:url(../res/mpi/top_bar_bg.jpg);
			left:0;
			position:fixed;
			margin-top:0px;
			margin-bottom:0px
		}

	
		
		#two_map {
		width:100%;
		height:100%;	
		margin-top:0px
		}
		
		#map {
          float: left;
          width: 100%;
          height: 300px;
          margin: auto;
		  margin-top:40px
       }
			
		
		
		
		#venue_1 {
		width:294px;
		height:26px;
		background-image:url(../res/mpi/venue_1.png)	;
		margin-bottom:10px;
		}
		
		#venue_2 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_2.png)	;
		margin-bottom:10px;	
		}
		
		#venue_3 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_3.png)		;
		margin-bottom:10px;
		}
		
		#venue_4 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_4.png)	;
		margin-bottom:10px;	
		}
		
		#venue_5 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_5.png)		;
		margin-bottom:10px;
		}
		
		#venue_6 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_6.png)		;
		margin-bottom:10px;
		}
		
		#venue_7 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_7.png)		;
		margin-bottom:10px;
		}
		
		#venue_8 {
		width:296px;
		height:68px;
		background-image:url(../res/mpi/venue_8.png)	;
		margin-bottom:10px;	
		}

	   #map-container {
         overflow: hidden;
		 height:100%
       }
                           
		#map {
          float: left;
          width: 100%;
          height: 320px;
          margin: auto;
		  margin-top:45px
       }
	   
	   	#venue_box {
			width:300px;
			height:100%;
			margin:auto;
			margin-top:10px	
		}
		
		
		
		    
             #wrapper1 {
                    position:absolute;
                    top:0px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:72px
                }
                
             #scroller1 {
                    position:relative;
                   margin:auto;
                    width:320px;
                    padding:0;
                }

     
             #wrapper2 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:28px
                }
                
             #scroller2 {
                    position:relative;
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:320px;
                    padding:0;
                }


     
             #wrapper3 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:28px
                }
                
             #scroller3 {
                    position:relative;
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                    margin:auto;
                    width:320px;
                    padding:0;
                }
				
				     
             #wrapper_v {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					height:590px;
					margin-top:28px
                }
          
                
             #scroller_v {
                    position:relative;
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                    margin:auto;
                    width:320px;
                    padding:0;
                }
		
	
	#teaser {
		width:245px;
		height:71px;
		background-image: url(../res/mpi/p_teaser.png);
		margin:auto;
		position: relative; /* Needed for Safari */
		text-align: left;
		
	}
	
} 

@media screen and (min-width: 460px) and (-webkit-device-pixel-ratio: 1.5) { 

	#bg_mesh {
		background-image:url(../res/hdpi/bg_pattern.png);
		background-repeat:repeat;
		margin-bottom:0px;
		height:100% !important
		
	}
	
	 #header{
		width:480px;
		height:220px;
		margin:auto;
		left:50%;
		background-image: url(../res/hdpi/menu_logo.png);
		background-repeat:no-repeat;
		
	} 
	
	#btn1 {
		width:340px;
		height:79px;
		margin:auto;
		background-image:url(../res/hdpi/btn_1.png)
	}
	
	#btn2 {
		width:340px;
		height:79px;
		margin:auto;
		background-image:url(../res/hdpi/btn_2.png)
	}
	
	#btn3 {
		width:340px;
		height:79px;
		margin:auto;
		background-image:url(../res/hdpi/btn_3.png)
	}
	
	#btn4 {
		width:340px;
		height:79px;
		margin:auto;
		background-image:url(../res/hdpi/btn_4.png)
	}
	
	#btn5 {
		width:340px;
		height:79px;
		margin:auto;
		background-image:url(../res/hdpi/btn_5.png)
	}
	
	#btnS {
		width:340px;
		height:27px;
		margin:auto;
		background-image:url(../res/hdpi/btn_s.png)
	}
	
	


	#first {
			width:100%;
			min-width:460px;
			height:110px;
			left:0;
			margin-top:0px;
			position:fixed;
			
	}
	

	#one {
			width:100%;
			height:64px;
			background-image:url(../res/hdpi/top_bar_bg.png);
		}
	
	
		.f_date {
			width:100%;
			height:46px;
			background-image:url(../res/hdpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			margin-top:-4px;
			text-align:left;
			
		}
		



	
			#back {
			width:72px;
			height:44px;
			background-image:url(../res/hdpi/top_back.png);
			float:left;
			margin-left: 8px ;
			margin-top:10px
			
		}
		
		#top_title_wrap {
			padding-top:25px;
		}
		
		#nfic_title {
			width:231px;
			height:15px;
			background-image:url(../res/hdpi/top_title.png);
			margin:auto
		}
		
		
		
		#top_logo {
			width:72px;
			height:38px;
			background-image: url(../res/hdpi/top_logo.png);
			float:right;
			margin-right:8px;
			margin-top:-25px
		}
	
	#two {
			width:100%;
			height:100%;
			margin-top:58px ;
			margin-bottom:50px
		}
	
		.p_date {
			width:100%;
			height:64px;
			background-image:url(../res/hdpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			
			
			
		}
		
		.p_container {
			width:430px;
			height:100%;
			padding-top:50px;
			margin:auto;
			padding-bottom:10px 
			
			
		}
		
			.p_wrap {
				height:60px;
			    width:100%;
				margin:auto;
				left:50%;
				margin-top:6px
				
		}
		
			.p_first {
				width:110px;
				height:60px;
				float:left;
				margin-left:10px;
				padding-top:10px;
				
				
			}
			
				.p_time {
					width:;
					height:;
					
				}
				
				.p_add {
					width:87px;
					height:21px;
					background-image:url(../res/hdpi/program_add.png)
					
				}
			
			.p_hr {
				width:1px;
				height:60px;
				background-image:url(../res/hdpi/program_hr.png);
				float:left;
				margin-top:4px
				
			}
			
			.p_second {
				width:330px;
				height:60px;
				margin-bottom:2px;
				margin-left:20px;
				
				
			}
			
				.p_title {
					width:;
					height:;
					
				}
				
				.p_desc {
					width:;
					height:;
					
				}
				
				
			
	#three {
		width:100%;
			height:64px;
			margin:auto;
			position:fixed;
			bottom:0
	}
	
	
	
	.f_container {
			width:460px;
			height:864px;
			margin:auto;
			left:50%;
			background-image:url(../res/hdpi/faculty_1.png);
			background-repeat:no-repeat;
			margin-bottom:20px
		
			
		}


    .f_container_2 {
			width:640px;
			height:1671px;
			margin:auto;
			left:50%;
			background-image:url(../res/hdpi/faculty_2.png);
			background-repeat:no-repeat;
			margin-bottom:80px
			
			
		}
        
        .f_container_3 {
			width:640px;
			height:919px;
			margin:auto;
			left:50%;
			background-image:url(../res/hdpi/faculty_3.png);
			background-repeat:no-repeat;
		}
		
		
		#f_top_line {
			width:100%;
			height:4px;
			background-image:url(../res/hdpi/footer_hr.jpg);
			background-repeat:repeat-x
		}
		
		#footer_wrap {
			width:100%;
			height:60px ;
			margin:auto;
			background-image:url(../res/hdpi/top_bar_bg.png);
		
		}
		
		#f_menu {
			width:460px;
			height:60px;
			margin:auto	
		}
			.f_btn {
				width:150px;
				height:60px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 17px ;
				text-transform:uppercase;
				padding-top:7px;
				background-image:url(../res/hdpi/top_bar_bg.png);
				background-repeat:repeat-x;
				
			}
			
			.f_btn_active {
				width:150px;
				height:60px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 17px;
				text-transform:uppercase;
				padding-top:7px;
				background-image:url(../res/xdpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}
			
			.footer_border {
				width:3px;
				height:60px;
				background-image:url(../res/xdpi/f_menu_border.jpg);
				background-repeat:repeat-y;
				float:left	
			}
		
		
				.p_btn {
				width:228px;
				height:60px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 19px;
				text-transform:uppercase;
				padding-top:20px;
				background-image:url(../res/hdpi/top_bar_bg.png);
				background-repeat:repeat-x;
				
			}
			
			.p_btn_active {
				width:228px;
				height:60px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 19px;
				text-transform:uppercase;
				padding-top:20px;
				background-image:url(../res/xdpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}	
			
			
			
		#one_venue {
			width:100%;
			height:64px;
			background-image:url(../res/hdpi/top_bar_bg.png);
			left:0;
			position:fixed;
			margin-top:0px;
			margin-bottom:0px
		}

	
		
		#two_map {
		width:100%;
		height:100%;	
		padding-top:15px
		}
		
		#map {
          float: left;
          width: 100%;
          height: 450px;
          margin: auto;
		  margin-top:50px
       }
	   
	   	#venue_box {
			width:430px;
			height:100%;
			margin:auto;
			margin-top:20px	
		}
			
		.v_container {
			width:430px;
			height:15400px;
			margin:auto;
			padding-bottom:10px;
			margin-top:0px
		}
		
	
		#venue_1 {
		width:422px;
		height:38px;
		background-image:url(../res/hdpi/venue_1.png)	;
		margin-bottom:15px;
		}
		
		#venue_2 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_2.png)	;
		margin-bottom:15px;	
		}
		
		#venue_3 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_3.png)		;
		margin-bottom:15px;
		}
		
		#venue_4 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_4.png)	;
		margin-bottom:15px;	
		}
		
		#venue_5 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_5.png)		;
		margin-bottom:15px;
		}
		
		#venue_6 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_6.png)		;
		margin-bottom:15px;
		}
		
		#venue_7 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_7.png)		;
		margin-bottom:15px;
		}
		
		#venue_8 {
		width:425px;
		height:98px;
		background-image:url(../res/hdpi/venue_8.png)	;
		margin-bottom:15px;	
		}
				
				
				
				
              
             #wrapper1 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:58px
                }
                
             #scroller1 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:460px;
                    padding:0;
                }

     
             #wrapper2 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:58px
                }
                
             #scroller2 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:460px;
                    padding:0;
                }


     
             #wrapper3 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:58px
                }
                
             #scroller3 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:460px;
                    padding:0;
                }
				
				     
             #wrapper_v {
                    position:absolute;
                    top:145px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					height:1300px;
					margin-top:-43px;
					padding-top:20px
					
                }
          
                
             #scroller_v {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:460px;
                    padding:0;
                }
				
		
	#teaser {
		width:353px;
		height:101px;
		background-image: url(../res/hdpi/p_teaser.png);
		margin:auto;
		position: relative; /* Needed for Safari */
		text-align: left;
		
	}

}

@media screen and (min-width: 640px) and (-webkit-device-pixel-ratio: 2) { 

	#bg_mesh {
		background-image:url(../res/xdpi/bg_pattern.png);
		background-repeat:repeat;
		margin-bottom:0px;
		height:100% !important
	}

	 #header{
		width:640px;
		height:299px;
		margin:auto;
		left:50%;
		background-image: url(../res/xdpi/menu_logo.png);
		background-repeat:no-repeat;
		margin-top:20px;
		margin-bottom:2%
	}
	
	#menu_wrap {
		width:640px;
		height:580px;
	
		
		position: relative; /* Needed for Safari */
				margin: auto; 
			
	}
	
	#menu {
		 height:580px;
		 margin:auto;
		 width:480px;
		 vertical-align: bottom;
		 
	}
	
	
		
	
	#btn1 {
		width:452px;
		height:106px;
		margin:auto;
		background-image:url(../res/xdpi/btn_1.png)
	}
	
	#btn2 {
		width:452px;
		height:106px;
		margin:auto;
		background-image:url(../res/xdpi/btn_2.png)
	}
	
	#btn3 {
		width:452px;
		height:106px;
		margin:auto;
		background-image:url(../res/xdpi/btn_3.png)
	}
	
	#btn4 {
		width:452px;
		height:106px;
		margin:auto;
		background-image:url(../res/xdpi/btn_4.png)
	}
	
	#btn5 {
		width:452px;
		height:106px;
		margin:auto;
		background-image:url(../res/xdpi/btn_5.png)
	}
	
	#btnS {
		width:452px;
		height:35px;
		margin:auto;
		background-image:url(../res/xdpi/btn_s.png)
	}
	
	
	
	#first {
			width:100%;
			min-width:640px;
			height:152px;
			left:0;
			margin-top:0px;
			position:fixed;
			  /*z-index:99 !important;*/
			
	}
	

	#one {
			width:100%;
			height:88px;
			background-image:url(../res/xdpi/top_bar_bg.png);
			    
		}
	
	
		.f_date {
			width:100%;
			height:64px;
			background-image:url(../res/xdpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			margin-top:-6px;
			text-align:left;
			
		}
		
	
	
	
	
	
		#back {
			width:100px;
			height:61px;
			background-image:url(../res/xdpi/top_back.png);
			background-repeat:no-repeat;
			float:left;
			margin-left: 8px ;
			margin-top:12px
			
		}
		
		#top_title_wrap {
			padding-top:30px;
		}
		
		#nfic_title {
			width:321px;
			height:20px;
			background-image:url(../res/xdpi/top_title.png);
			margin:auto
		}
		
		
		
		
		#top_logo {
			width:99px;
			height:52px;
			background-image: url(../res/xdpi/top_logo.png);
			float:right;
			margin-right:8px;
			margin-top:-32px
		}
	
	#two {
			width:100%;
			height:100%;
			margin-top:0px ;
			margin-bottom:70px
		}
	
		.p_date {
			width:100%;
			height:64px;
			background-image:url(../res/xdpi/program_date_bg.png);
			background-repeat:repeat-x;
			padding-top:1px;
			
			
			
		}
		
		.p_container {
			width:600px;
			height:100%;
			margin-top:20px;
			margin:auto;
			padding-bottom:20px ;
			padding-top:60px;
			
			
		}
		
			.p_wrap {
				height:95px;
			    width:100%;
				margin:auto;
				left:50%;
		}
		
			.p_first {
				width:150px;
				height:75px;
				float:left;
				margin-left:10px;
				padding-top:0px;
				margin-bottom:-15px
				
				
			}
			
				.p_time {
					width:;
					height:;
					
				}
				
				.p_add {
					width:121px;
					height:28px;
					background-image:url(../res/xdpi/program_add.png)
					
				}
			
			.p_hr {
				width:1px;
				height:95px;
				background-image:url(../res/xdpi/program_hr.png);
				float:left;
				margin-top:-1px
				
			}
			
			.p_second {
				width:500px;
				height:78px;
				float:left;
				margin-left:20px;
				margin-top:10px;
				margin-bottom:6px;
				padding-top:0px
				
			}
			
				.p_title {
					width:;
					height:;
					
				}
				
				.p_desc {
					width:;
					height:;
					
				}
				
			.p_btn {
				width:318px;
				height:84px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 24px;
				text-transform:uppercase;
				padding-top:25px;
				background-image:url(../res/xdpi/f_menu_bg.jpg);
				background-repeat:repeat-x;
				
			}
			
			.p_btn_active {
				width:318px;
				height:84px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 24px;
				text-transform:uppercase;
				padding-top:25px;
				background-image:url(../res/xdpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}
				
				
	#three {
		width:100%;
			height:91px;
			margin:auto;
			position:fixed;
			bottom:0;
			
	}
	
	
	
	.f_container {
			width:640px;
			height:1139px;
			margin:auto;
			left:50%;
			background-image:url(../res/xdpi/faculty_1.png);
			background-repeat:no-repeat;
			margin-left:10px;
			padding-bottom:70px;
			
			
			
		}
        
        .f_container_2 {
			width:640px;
			height:2325px;
			margin:auto;
			left:50%;
			background-image:url(../res/xdpi/faculty_2.png);
			background-repeat:no-repeat;
			padding-bottom:80px;
			
			
		}
        
        .f_container_3 {
			width:640px;
			height:1279px;
			margin:auto;
			left:50%;
			background-image:url(../res/xdpi/faculty_3.png);
			background-repeat:no-repeat;
			padding-bottom:80px
			
			
		}
		
		
		  
              
             #wrapper1 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:97px
                }
                
             #scroller1 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:640px;
                    padding:0;
                }

     
             #wrapper2 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:97px
                }
                
             #scroller2 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:640px;
                    padding:0;
                }


     
             #wrapper3 {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					margin-top:97px
                }
                
             #scroller3 {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:640px;
                    padding:0;
                }
				
				     
             #wrapper_v {
                    position:absolute;
                    top:45px;
                    bottom:48px;
                    left:0;
                    width:100%;
                    overflow:auto;
					height:2000px;
					margin-top:95px
                }
          
                
             #scroller_v {
                    position:relative;
                    /*	-webkit-touch-callout:none;*/
                    -webkit-tap-highlight-color:rgba(0,0,0,0);
                   margin:auto;
                    width:640px;
                    padding:0;
                }

	
			#f_top_line {
			width:100%;
			height:7px;
			background-image:url(../res/xdpi/footer_hr.jpg);
			background-repeat:repeat-x
		}
		
		#footer_wrap {
			width:100%;
			height:84px ;
			margin:auto;
			background-image:url(../res/xdpi/f_menu_bg.jpg);
		
		}
		
		
		#f_menu {
			width:640px;
			height:84px;
			margin:auto	;
			
		}
			.f_btn {
				width:210px;
				height:84px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 24px;
				text-transform:uppercase;
				padding-top:10px;
				background-image:url(../res/xdpi/f_menu_bg.jpg);
				background-repeat:repeat-x;
				
			}
			
			.f_btn_active {
				width:210px;
				height:84px;
				float:left;
				text-align:center;
				color:white;
				font-family: 'bebas_neue', Arial, Helvetica, sans-serif;
				font-size: 24px;
				text-transform:uppercase;
				padding-top:10px;
				background-image:url(../res/xdpi/f_menu_hover.jpg);
				background-repeat:repeat-x;
				text-shadow: 0 0 0.4em #5ab6bf;
			}
			
			.footer_border {
				width:3px;
				height:84px;
				background-image:url(../res/xdpi/f_menu_border.jpg);
				background-repeat:repeat-y;
				float:left	
			}
		
	
		#one_venue {
			width:100%;
			height:88px;
			background-image:url(../res/xdpi/top_bar_bg.png);
			left:0;
			position:fixed;
			margin-top:0px;
			margin-bottom:0px
	}




		.v_container {
			width:600px;
			height:2500px;
			margin:auto;
			margin-top:10px;
			padding-bottom:20px ;
		}
		
		#venue_box {
			width:600px;
			height:100%;
			margin:auto;
			margin-top:20px	
		}
		
		#map {
          float: left;
          width: 100%;
          height: 670px;
          margin: auto;
		  margin-top:50px
       }
		
		#two_map {
		width:100%;
		height:100%;	
		padding-top:40px
		}
		
		#venue_1 {
		width:588px;
		height:53px;
		background-image:url(../res/xdpi/venue_1.png)	;
		margin-bottom:15px;
		}
		
		#venue_2 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_2.png)	;
		margin-bottom:15px;	
		}
		
		#venue_3 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_3.png)		;
		margin-bottom:15px;
		}
		
		#venue_4 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_4.png)	;
		margin-bottom:15px;	
		}
		
		#venue_5 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_5.png)		;
		margin-bottom:15px;
		}
		
		#venue_6 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_6.png)		;
		margin-bottom:15px;
		}
		
		#venue_7 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_7.png)		;
		margin-bottom:15px;
		}
		
		#venue_8 {
		width:591px;
		height:136px;
		background-image:url(../res/xdpi/venue_8.png)	;
		margin-bottom:25px;	
		}
		
	

		#teaser {
		width:491px;
		height:140px;
		background-image: url(../res/xdpi/p_teaser.png);
		margin:auto;
		position: relative; /* Needed for Safari */
		text-align: left;
		
	}
	
} 









h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


ul#EventsList {
	padding:none !important	;
	-webkit-padding-start: 0px !important;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px !important;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px !important;
}


  #map_canvas {
         overflow: hidden;
		 height:100%;
		 width:500px
       }

